*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    
    scroll-behavior: smooth;
}

#unosupizq {
    height: 10vh;
    /*background-color: blueviolet;*/

}
img{
    margin-top: 40px;
    
    display: block;
    width: 50%;
    margin: auto;
    border-radius: 50%;
    padding: 20px;
    background-color:darkblue;
    max-width: 250px;
    margin: auto;
    text-align: center;
    border-radius: 50px;
}
#trabajos{
    margin-top: 40px; 
    display: block;
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color:darkblue;
    max-width: 100px;
    margin: auto;
    text-align: center;
    
}

#uno{
    align-items: center;
    text-align: center;
}
#unosupderch {
    height: 10vh ;
    width: 100%;
    background-color:darkblue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    flex-flow:row wrap;
    align-items: center;
    align-content:space-evenly;
}
    


.Listas{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.Lista{
    
    float: left;
    padding: 15px 10px;
    color: azure;
    text-decoration: none;
    list-style: none;
    font-family: 'Righteous';
}


#unocentro {
    height: 90vh;
    background-image: url(69455.jpg);
    
}
h2{
    color: rgb(194, 195, 195);
    align-content: center;
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 40px 0;

}
h1{
    color: azure;
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 10px 0;

}
h3{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 10px 0;
    height: 30px;
    color: azure;

}
p{
    color: rgb(194, 195, 195);
    padding: 10px 0;
    text-align: center;
    font-family: 'Righteous';

}

#dosizq {
    height: 100vh;
    background-color:black;
    
}

#dosderech {
    height: 100vh;

}
#dosderechaarriba{
    height: 20vh;
    background-color:black;
}
#dosderechaabajo{
    height: 80vh;
    background-color:black;
}

#sobremi{
    height: 50%;
    padding-right: 20vh;
    font-family: 'Righteous';


}

#tresarriba{
    height: 20vh;
    background-color:rgb(15, 15, 15);
}
#trescajaarribaizq{
    height: 40vh;
    background-color:rgb(15, 15, 15);
}
#trescajaarribaderecha{
    height: 40vh;
    background-color:rgb(15, 15, 15);
}
#trescajaabajoizq{
    height: 40vh;
    background-color:rgb(15, 15, 15);
}
#trescajaabajoderecha{
    height: 40vh;
    background-color:rgb(15, 15, 15);
}
#cuatroarriba{
    height: 50vh;
    background-color:black;
    text-align: center;
    padding: 10px 0;
}
#cuatroabajoizq{
    height:70vh;
    background-color:black;
    text-align: center;
    padding: 10px 0;
}
#cuatroabajomed{
    height:70vh;
    background-color:black;
    text-align: center;
    padding: 10px 0;
}
#cuatroabajoderech{
    height:70vh;
    background-color:black;
    text-align: center;
    padding: 10px 0;
}


#cincoarriba{
    height: 20vh;
    background-color:rgb(15, 15, 15);
    text-align: center;
    padding: 10px 0;
}
#cincoabajo{
    height: 80vh;
    background-color:rgb(15, 15, 15);
    text-align: center;
    padding: 10px 0;
}
#cincoabajocentro{
    color: azure;
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 10px 0;

    
}


#cincoabajocentroabajo{
    color: azure;
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 10px 0;

}


#seisarriba{
    height: 20vh;
    background-color:black;
    text-align: center;
    padding: 10px 0;

}

#seisabajo{
    height: 80vh;
    background-color:black;
    text-align: center;
    padding: 10px 0;
}
#redes{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
#casa{
    color: azure;

}
#fecha{
    color: azure;

}

/*// Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) { 
    .menu, .main, .right {
      width: 100%;
    }
   }*/

  /*// Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) { 
    .menu{
      width: 30%;

    }
    .main{
      width: 40%;
    }
    .right{
      width: 30%;

    }

    
   }

  /*// Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) { 
    .menu{
      width: 25%;
    }
    .main{
      width: 50%;
    }
    .right{
      width: 25%;
    }

  }

  /*// Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) { 
    .menu{
      width: 15% ;

    }
    .main{
      width: 70%;
    }
    .right{
      width: 15%;

    }
   }



  @media only screen and (max-width: 620px) {
    /* For mobile phones: 
    .menu, .main, .right {
      width: 100%;
    }
    }
  