*{
    margin: center;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;


}
.contenedor{
    width: 100%;
    text-align:center;
}


header {
    height: 50px;
    /*background-color: darkblue;*/


}
nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}
header{
    display: block
    margin: 0;
    padding: 0;
   
}


.box {
    float: left;
    margin: 10px;
    width: 60px;
    height: 60px;
    border-radius: 1px;
    /*background-color: rgb(207, 232, 220);*/
    padding: 1em;

  }
 p{
    font-size: 12px;
    text-align: left;
 }


article {
    width: 700px;
    background: ;
    margin-right: ;
    margin-left: ;


}

img {
    
}

h1 {
    font-size: 50px;
   
    
    
    
}
h2 {
    font-size: 18px;
    
    
    
    font-family:'Times New Roman', Times, serif;

    
    
}

h3 {
   
    

   
}

.a{
   
}
.b{
   
}



